[heater_bed]
heater_pin: PA1
# NTC 100K MGB18-104F39050L32 is for Keenovo thermistors
sensor_type: NTC 100K MGB18-104F39050L32
# Connected to TB on S6
sensor_pin: PF4
smooth_time: 3.0
control: pid_v
pid_Kp=45.844
pid_Ki=2.888
pid_Kd=181.945
min_temp: 0
max_temp: 130
max_power: 1
