[heater_generic chamber_heater]
heater_pin: PB11
max_power: 1
control: pid
pid_Kp: 71
pid_Ki: 0.38
pid_Kd: 3275
sensor_type: PT1000
sensor_pin: PF5 # Chamber therm
min_temp: 0
max_temp: 140
gcode_id: chamber_th

[temperature_fan heater_core]
pin: PE5 # heater fans
max_power: 1.0
sensor_type: PT1000 
sensor_pin: PF7 # stuck inside heater core
control: watermark
min_temp: 0
max_temp: 185 # Your heater fan died, error in klipper now.
target_temp: 50.0 # fan on above this sensor reading in C

[verify_heater chamber_heater]
hysteresis = 3
check_gain_time = 240
heating_gain: .1
check_gain_time:600
max_error: 500 

#[gcode_macro SET_CHAMBER]
#gcode:
#  {% set chamber_target = params.CHAMBER|default(0)|float %}
#  SET_HEATER_TEMPERATURE heater=heater_chamber target={chamber_target}


#for orcaslicer integration below https://github.com/SoftFever/OrcaSlicer/wiki/Chamber-temperature
[gcode_macro M141]
gcode:
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={params.S|default(0)} #HEATER=chamber_heater

[gcode_macro M191]
gcode:
    {% set s = params.S|float %}
    {% if s == 0 %}
        # If target temperature is 0, do nothing
        M117 No chamber heating selected. Chamber heating cancelled
    {% else %}
        SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={s}
        # Orca: uncomment the following line if you want to use heat bed to assist chamber heating
        M140 S110 #was uncommented. Was S100. Heats bed and doesnt wait
        BEDFANSFAST
        TEMPERATURE_WAIT SENSOR="heater_generic chamber_heater" MINIMUM={s-2} MAXIMUM={s+15} #was s-1
        M117 Chamber at target temperature
    {% endif %}