[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Octopus]
sensor_type: temperature_mcu

[temperature_sensor chamber_toolhead]
sensor_type: TDK NTCG104LH104JT1
sensor_pin: PF4


# [temperature_sensor Chamber_Left]
# sensor_type: PT1000
# sensor_pin: PF5 # Connected to T1

# [temperature_sensor Chamber_Heater]
# sensor_type: PT1000
# sensor_pin: PF7

[temperature_sensor Chamber_Bottom_Left]
sensor_type: ATC Semitec 104GT-2
sensor_pin: dd:PA1
pullup_resistor: 4700

[temperature_sensor Chamber_Bottom_Right]
sensor_type: ATC Semitec 104GT-2
sensor_pin: dd:PA0
pullup_resistor: 4700

[temperature_sensor Bottom_Ebox]
sensor_type: PT1000 #ATC Semitec 104GT-2
sensor_pin: dd:PA5
pullup_resistor: 2200